/.deps
/depcomp
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/install-sh
/missing
/compile
/mkinstalldirs
/sshpass
/stamp-h
/stamp-h.in
/stamp-h1

/build_*
/tags

.*.swp
